$main-border-color: #ababab

// General styles
.bolder
  font-weight: bolder

.bold
  font-weight: bold

.clear_both
  clear: both

.left
  float: left

.right
  float: right

.hidden
  display: none

// Header
#header
  padding-bottom: 10px
  border-bottom: 1px solid $main-border-color

  .site_title
    margin-top: 20px
    font:
      weight: bolder
      size: 20px

// Footer
#footer
  border-top: 1px solid $main-border-color

// Main content
#main-content
  margin-top: 20px
  min-height: 500px
  clear: both

// Product display
.product_info
  width: 200px
  border: solid 1px red
  height: 200px
  float: left
  margin: 0 5px 5px 0
  overflow-y: hidden

  .name
    font:
      size: 1.2em
      weight: bold
  .description
    font-size: 0.9em



