%h1 Categories
- @categories.each do |category|
  = link_to category.name, category_path(category)
%br

%h1 Current category
= @category.name
%br

%h1 Products
.products.clearfix
  = render :partial => '/products/product_info', :collection => @products
%br

= will_paginate(@products)